{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<div class="container">
    <h1 align="center">Edit Profile</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.first_name.label(class="form-control-label") }}
            {{ form.first_name(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.last_name.label(class="form-control-label") }}
            {{ form.last_name(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.age.label(class="form-control-label") }}
            {{ form.age(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.phone.label(class="form-control-label") }}
            {{ form.phone(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.address.label(class="form-control-label") }}
            {{ form.address(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}
